.carousel {
    border-radius: 0;
    /* Menghapus ujung melengkung pada carousel utama */
}

.carousel-inner {
    border-radius: 0;
    /* Menghapus ujung melengkung pada gambar carousel */
}

.carousel-caption {
    border-radius: 0;
    /* Menghapus ujung melengkung pada caption */
}

.carousel-indicators button {
    border-radius: 0;
    /* Menghapus ujung melengkung pada indikator carousel */
}

.carousel-control-prev,
.carousel-control-next {
    border-radius: 0;
    /* Menghapus ujung melengkung pada tombol navigasi */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    border-radius: 0;
    /* Menghapus ujung melengkung pada ikon tombol navigasi */
}